[package]
authors = ["Mary"]
edition = "2018"
readme = "README.md"
name = "custom-firmware"
version = "0.1.0"

[dependencies]
cortex-m = "0.6.0"
cortex-m-rt = "0.6.10"
panic-halt = "0.2.0"
lpc11uxx = "0.3.0"

# this lets you use `cargo fix`!
[[bin]]
name = "custom-firmware"
test = false
bench = false

[profile.release]
codegen-units = 1 # better optimizations
debug = true # symbols are nice and they don't increase the size on Flash
lto = true # better optimizations
